body {
  background-color: #2A2C2F;
  color: #f2f2f2;
}

.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.6rem;
  text-align: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
}

.header .logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-image: url("../image/logo.png");
  width: 20vw;
}

.header__langs {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header__lang {
  color: #f2f2f2;
}

.lead {
  width: 90vw;
  margin: 3rem auto 0rem;
  font-family: Inter;
  font-style: normal;
}

.lead__title {
  margin: 0rem auto;
  font-weight: 900;
  font-size: 6rem;
  line-height: 6rem;
  text-align: center;
}

.lead__subtitle {
  margin: 3rem auto 0rem;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

.lead__image {
  width: 100%;
  margin: 4rem auto 0rem;
}

.lead__caption {
  margin-top: 1rem;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.intro {
  width: 90vw;
  margin: 5rem auto 0rem;
  font-family: Inter;
  font-style: normal;
}

.intro__title {
  margin: 0rem;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.intro__content-row {
  width: 67.5%;
  font-size: 1rem;
  line-height: 1.2rem;
}

.intro__texts {
  width: 37%;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 0.9rem;
}

.photo-grid {
  width: 90vw;
  margin: 6rem auto 0rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 0.2rem;
}

.places {
  width: 80vw;
  margin: 6.3rem auto 0rem;
}

.place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5.2rem auto 0rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

.place__:first-child {
  margin-top: 0rem;
}

.place__title {
  width: 28.75rem;
  margin: 0rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.6rem;
}

.place__website {
  width: 28.75rem;
}

.place__website_url-heading {
  margin: 0rem auto 1rem;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

.place__website_url {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.9rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  color: #FFFFFF;
}

.place__image {
  -ms-flex-preferred-size: 28.75rem;
      flex-basis: 28.75rem;
  margin-top: 3.2rem;
}

.place__description {
  -ms-flex-preferred-size: 28.75rem;
      flex-basis: 28.75rem;
  margin-top: 3.2rem;
}

.place__paragraph {
  margin: 0rem;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.9rem;
}

.video {
  width: 90vw;
  margin: 6.3rem auto 0rem;
}

.video__title {
  width: 50rem;
  margin: 0rem auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.6rem;
  text-align: center;
}

.video__subtitle {
  width: 40rem;
  margin: 3rem auto 0rem;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

.video__container {
  width: 100%;
  margin: 4.5rem auto 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video__item {
  width: 49%;
  position: relative;
}

.video__placeholder {
  width: 100%;
}

.container {
  width: 100%;
  margin: 72px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__comment {
  width: 382px;
}

.container__image {
  border-radius: 50%;
}

.comments {
  width: 90vw;
  margin: 102px auto 0px;
}

.comments__title {
  width: 800px;
  margin: 0px auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.6rem;
  text-align: center;
}

.comments__subtitle {
  width: 640px;
  margin: 48px auto 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

.cover {
  position: relative;
  width: 90vw;
  margin: 102px auto 0px;
  text-decoration: none;
  color: #f2f2f2;
}

.cover__image {
  width: 100%;
}

.cover__container {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  text-decoration: none;
  color: #f2f2f2;
  text-align: center;
}

.cover__title {
  position: absolute;
  margin: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  z-index: 100;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.1;
}

.cover__subtitle {
  position: absolute;
  margin: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 48px;
  width: 382px;
  z-index: 100;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.44;
  text-align: center;
  color: #FFFFFF;
}

.footer {
  width: 90vw;
  margin: 100px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer :last-child {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.footer__link {
  margin: 0px 18px 0px 0px;
  text-decoration: none;
  color: #f2f2f2;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.footer__copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.25rem;
  text-align: right;
}
/*# sourceMappingURL=style.css.map */