.container{
    width: 100%;
    margin: 72px auto 0px;
    display: flex;
    justify-content: space-between;

    &__comment{
        width: 382px;
    }
    
    &__image{
        border-radius: 50%;
    }

}