.header{
    display: flex;
    width: 90vw;

    .logo{
        align-self: flex-start;
        background-image: url('../image/logo.png');
        width: 20vw;
    }

    &__langs{
        align-self: flex-end;
    }

    &__lang{
        color: #f2f2f2;
    }
}