.header{
    display: flex;
    width: 90vw;
    margin: 0px auto;
    justify-content: space-between;

    .logo{
        align-self: flex-start;
        width: 176px;
    }

    &__langs{
        align-self: flex-end;
    }

    &__lang{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.6rem;
        text-align: right;
        text-decoration-line: none;
        color: #f2f2f2;
    }
}