.places{
    width: 80vw;
    margin: 92px auto 0px;
}
.place{
    display: flex;
    flex-wrap: wrap;
    margin: 72px auto 0px;
    justify-content: space-between;
    color: #ffffff;

    &__:first-child{
        margin-top: 0px;
    }

    &__title{
        width: 457px;
        margin: 0px;
        margin-right: 40px;
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 4.5rem;
        line-height: 4.6rem;
    }

    &__website{
        width: 484px;
    
    &_url-heading{
        margin: 0px auto 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 0.8rem;
        line-height: 1rem;
        letter-spacing: 0.2em;
        color: #AAAAAA;
    }

        &_url{
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 1.9rem;
            text-decoration-line: underline;
            transition: opacity 0.5s ease-in;
            color: #FFFFFF;
        }
    }

    &__image{
        flex-basis: 457px;
        margin-top: 60px;
        margin-right: 40px;

    }

    &__description{
        flex-basis: 484px;
        margin-top: 60px;
    }
    
    &__paragraph{
        margin: 0px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.9rem;
    }
}